# Build dir
build/

# Executables
bin/

# Library
lib/*.lib
lib/*.dll

# Visual Studio
**/Debug
**/Release
*.vcproj.*
*.vcxproj.*
*.pdb
*.sdf
*.suo
*.opensdf
ipch/

# In/out files
*.dat
*.pos
*.out

# Sublime
*.sublime-*